In [15]:
import pandas as pd

df = pd.read_csv('sectors.csv', sep=';')
df

,Bedrijfsafvalstoffen,Nuttige toepassing en eindverwerking,Bedrijfstakken/branches (SBI 2008),Perioden,Bedrijfsafval (1 000 ton)
0,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,"10-12 Voedings-, genotmiddelenindustrie",2007,8204
1,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,"10-12 Voedings-, genotmiddelenindustrie",2008,8144
2,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,"10-12 Voedings-, genotmiddelenindustrie",2009,8156
3,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,"10-12 Voedings-, genotmiddelenindustrie",2010,8216
4,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,"10-12 Voedings-, genotmiddelenindustrie",2015,8276
...,...,...,...,...,...
424,Totaal naar verwerking,Totaal eindverwerking,31-32 Meubel- en overige industrie,2017,.
425,Totaal naar verwerking,Totaal eindverwerking,31-32 Meubel- en overige industrie,2018,.
426,Totaal naar verwerking,Totaal eindverwerking,31-32 Meubel- en overige industrie,2019,.
427,Totaal naar verwerking,Totaal eindverwerking,31-32 Meubel- en overige industrie,2020,.
428,Totaal naar verwerking,Totaal eindverwerking,31-32 Meubel- en overige industrie,2021*,.

In [23]:

df['Perioden'] = df['Perioden'].replace('2021*', '2021')
df['Perioden'] = df['Perioden'].astype(int)

#split the column Bedrijfstakken/branches (SBI 2008) into two columns from :5 and name the new column, then drop the old column
df[['SBI 2008', 'Bedrijfstakken']] = df['Bedrijfstakken/branches (SBI 2008)'].str.split(' ', n=1, expand=True)
# df = df.drop(columns=['Bedrijfstakken/branches (SBI 2008)'])
df

,Bedrijfsafvalstoffen,Nuttige toepassing en eindverwerking,Perioden,Bedrijfsafval (1 000 ton),SBI_2008,SBI_2008_name
0,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,2007,8204,10-12,"Voedings-, genotmiddelenindustrie"
1,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,2008,8144,10-12,"Voedings-, genotmiddelenindustrie"
2,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,2009,8156,10-12,"Voedings-, genotmiddelenindustrie"
3,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,2010,8216,10-12,"Voedings-, genotmiddelenindustrie"
4,Totaal naar verwerking,Totaal bedrijfsafvalstoffen,2015,8276,10-12,"Voedings-, genotmiddelenindustrie"
...,...,...,...,...,...,...
424,Totaal naar verwerking,Totaal eindverwerking,2017,.,31-32,Meubel- en overige industrie
425,Totaal naar verwerking,Totaal eindverwerking,2018,.,31-32,Meubel- en overige industrie
426,Totaal naar verwerking,Totaal eindverwerking,2019,.,31-32,Meubel- en overige industrie
427,Totaal naar verwerking,Totaal eindverwerking,2020,.,31-32,Meubel- en overige industrie
428,Totaal naar verwerking,Totaal eindverwerking,2021,.,31-32,Meubel- en overige industrie